@import 'styles/every.scss';

.root {
  //border-top-width: 0;

  &:nth-child(n + 2) {
    @include frame-each-theme(border-top, 1px, solid, basic__2);
  }
}

// rows
tr {
  display: grid;
  // grid-template-columns: 30px 1fr 1fr 1fr 1fr;  applies styles in LeagueStanding.module.scss
  grid-template-rows: 40px;
}

td {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  height: 40px;

  button {
    height: auto;
    padding: 0px;
  }

  :global(.icon) {
    @include color-each-theme(color, basic__5);
  }

  &.name-id {
    span {
      white-space: nowrap;
      word-break: break-all;
      overflow: hidden;
    }
    overflow: hidden;
    max-width: 100%;
    padding: 0 4px 0;
  }

  &.my-result {
    font-size: 0.9rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    .icon__solved {
      width: 20px;
      height: 20px;
      @include color-each-theme(color, success__4);
    }
    .icon__failed {
      width: 20px;
      height: 20px;
      @include color-each-theme(color, error__4);
    }

    & > *:nth-child(2) {
      display: none;
    }
    @media (min-width: $device-m__min-width) {
      & > *:nth-child(2) {
        display: inline-flex;
      }
    }
  }

  &.author {
    span {
      white-space: nowrap;
      word-break: break-all;
      overflow: hidden;
    }
    overflow: hidden;
    max-width: 100%;
    padding: 0 4px 0;
  }

  &.play {
    .icon__play {
      width: 20px;
      height: 20px;
    }
  }

  &.created {
    font-size: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    & > *:nth-child(2) {
      display: none;
    }
    @media (min-width: $device-m__min-width) {
      & > *:nth-child(2) {
        display: inline-flex;
      }
    }
  }
  &.like-dislike {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    .icon__like, .icon__dislike {
      width: 24px;
      height: 24px;
    }
    .icon__like {
      margin-bottom: 3px;
    }
    .icon__dislike {
      margin-top: 3px;
    }
  }
  &.others {
    .icon__others {
      width: 32px;
      height: 32px;
    }
  }
}
