@import 'styles/every.scss';

.root {
  width: 100%;
  min-width: $device-xs__min-width;
  max-width: $device-m__min-width;

  margin-top: 40px;
  margin-bottom: 10px;

  .options {
    width: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    button {
      @include color-each-theme(background-color, basic__0);
    }

    .public-my,
    .like-dislike,
    .solved-failed
    {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      &:nth-child(n+2) {
        margin-left: 20px;
      }

      & > * {
        border-radius: 0px;
        padding: 5px;
      }
      & > *:first-child {
        border-radius: 6px 0 0 6px;
        padding-left: 10px;
      }
      & > *:last-child {
        border-radius: 0 6px 6px 0;
        padding-right: 10px;
      }

      button {
        @include color-each-theme(color, main__5);
        background-color: transparent;
        @include frame-each-theme(border, 2px, solid, main__4);
        &:nth-child(n+2) {
          border-left-style: none;
        }
        &:global(.active) {
          @include color-each-theme(color, basic__0);
          @include color-each-theme(background-color, main__5);
          @include frame-each-theme(border, 2px, solid, main__6);
          &:nth-child(n+2) {
            border-left-style: none;
          }
        }
      }
    }

    .public-my {
      button {
        width: auto;
        white-space: nowrap;
      }
    }

    .like-dislike {
      .icon__not-decided {
        width: 16px;
        height: 16px;
      }
      .icon__i-liked,
      .icon__i-disliked {
        width: 20px;
        height: 20px;
      }
    }

    .solved-failed {
      .icon__not-tried {
        width: 16px;
        height: 16px;
      }
      .icon__i-solved,
      .icon__i-failed {
        width: 20px;
        height: 20px;
      }
    }
  }

  table {
    margin-top: 10px;

    border-collapse: collapse;
    table-layout: fixed;
    display: table;

    width: 100%;

    .row {
      // sharing styles with tr in thead and tr in tbody
      // rank, logo, points, games,  result, goals
      grid-template-columns: 1.8fr 1.1fr 1.1fr 0.7fr 48px 80px 48px;

      @media (min-width: $device-m__min-width) {
        // grid-template-columns: 1fr 50px 50px 50px 30px 30px;
      }
    }
    // colgroup 는 잔문제가 많아서 사용하지 않기로 결정

    thead {
      width: 100%;
      display: table-header-group;
      @include frame-each-theme(border-bottom, 2px, solid, basic__2);

      // rows
      tr {
        display: grid;
        grid-template-rows: 30px;

        width: 100%;

        th {
          display: inline-flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;

          & > * {
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
          }
          & > *:nth-child(1) {
            display: inline-flex;
            @media (min-width: $device-m__min-width) {
              display: none;
            }
          }
          & > *:nth-child(2) {
            display: none;
            @media (min-width: $device-m__min-width) {
              display: inline-flex;
            }
          }
        }
      }
    }

    tbody {
      width: 100%;
      display: table-row-group;
    }
  }
}
