@import 'styles/every.scss';

.root {
  @include color-each-theme( background-color, basic__0);
  @include frame-each-theme(border, 1px, solid, basic__1);
  @include frame-each-theme(border-top, 0px, none, basic__1);

  
  // width: 80vw;
  // height: 80vw;
  // min-width: $device-xs__min-width;
  // max-width: 700px;
  // //max-width: $device-m__min-width;
  // min-height: $device-xs__min-width;
  // max-height: 700px;
  // //max-height: $device-m__min-width;

  // margin-bottom: 40px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  :global(.icon){
    @include color-each-theme( color, basic__6);
  }


  .back-to-start {
    .icon__back-to-start {
      width: 26px;
      height: 26px;
    }
  }


  .control {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 0;

    .icon__paste {
      transform: rotate(90deg);
      width: 26px;
      height: 26px;
    }

    .icon__backward, .icon__forward {
      width: 30px;
      height: 30px;
    }

  }

  .others {
    .icon__others {
      width: 30px;
      height: 30px;
    }
  }
  
}
