@import 'styles/every.scss';

.content {

  width: $device-xs__min-width; 
  height: auto;

  margin-top: #{$header__height + $main__between-header};


  .icon__map-signs {
    @include color-each-theme(color, basic__3);
    width: 120px;
    height: 120px;
  }
}