@import 'styles/every.scss';

.root {
  // @include color-each-theme( background-color, basic__0);
  // @include frame-each-theme(border, 1px, solid, basic__1);
  // @include frame-each-theme(border-top, 0px, none, basic__1);

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 100%;
  
  & > * {
    height: 100%;
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}


.white {
  background-color: #fff;
  border: 2px solid #ccc;

  color: #000;
}

.black {
  background-color: #000;
  border: 2px solid #333;

  color: #fff;
}

.solved {
  @include color-each-theme( background-color, success__4);
  @include color-each-theme( color, success__9);
  @include frame-each-theme(border, 2px, solid, success__6);
}

.failed {
  @include color-each-theme( background-color, error__4);
  @include color-each-theme( color, error__9);
  @include frame-each-theme(border, 2px, solid, error__6);
}

.series-san {
  border-left-style: none;
}

